[submodule "odoo-utilities"]
	path = odoo-utilities
	url = git@git.vauxoo.com:jarsa/odoo-utilities.git
	branch = 14.0

[submodule "server-tools"]
	path = server-tools
	url = git@github.com:jarsa/server-tools.git
	branch = 14.0

[submodule "server-backend"]
	path = server-backend
	url = git@github.com:jarsa/server-backend.git
	branch = 14.0

[submodule "credit-control"]
	path = credit-control
	url = git@github.com:jarsa/credit-control.git
	branch = 14.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:jarsa/mexico.git
	branch = 14.0

[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:Jarsa/product-attribute.git
	branch = 14.0

[submodule "sale-workflow"]
	path = sale-workflow
	url = git@github.com:Jarsa/sale-workflow.git
	branch = 14.0

[submodule "purchase-workflow"]
	path = purchase-workflow
	url = git@github.com:Jarsa/purchase-workflow.git
	branch = 14.0
