[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:jarsa/mexico.git
[submodule "filo"]
	path = filo
	url = git@git.vauxoo.com:jarsa/filo.git
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = git@github.com:Jarsa/purchase-workflow.git
	branch = 15.0

[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = git@github.com:Jarsa/stock-logistics-workflow.git
	branch = 15.0

[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = git@github.com:Jarsa/stock-logistics-warehouse.git
	branch = 15.0
[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:Jarsa/product-attribute.git
	branch = 15.0

[submodule "credit-control"]
	path = credit-control
	url = git@github.com:Jarsa/credit-control.git
	branch = 15.0

[submodule "odoo-utilities"]
	path = odoo-utilities
	url = git@github.com:Jarsa/odoo-utilities.git
	branch = 15.0

[submodule "partner-contact"]
	path = partner-contact
	url = git@github.com:Jarsa/partner-contact.git
	branch = 15.0

[submodule "l10n-mexico"]
	path = l10n-mexico
	url = git@github.com:Jarsa/l10n-mexico.git
	branch = 15.0

[submodule "server-backend"]
	path = server-backend
	url = git@github.com:Jarsa/server-backend.git
	branch = 15.0
[submodule "jarsa-mexico"]
	path = jarsa-mexico
	url = git@git.vauxoo.com:jarsa/jarsa-mexico.git
	branch = 15.0